html{
	padding: 0;
    margin: 0;
    overflow: auto;
    background: url(fond.jpg) no-repeat center fixed;   
    background-size: cover;
   }
/*css pour le salon*/
#salon{
    display: grid;
	width: 100%;
	height:100%;
	grid-template-columns: [first] 85% [line2] 15% [end];
	grid-template-rows:[first] 5% [line2] 65% [line3] 20% [end];
	grid-template-areas: "header header"
                         "mess user"
                         "footer quit";
    

}
.header{
    text-align: center;
    grid-area: header;
    font-family: cursive;
    font-size: 2em;
    display: inline-block; 
   }

.mess{
    font-family: cursive;
    font-size: 1em;
    color: black;
    grid-area: mess;
               
}
.user{
    font-family: cursive;
    font-size: 1em;
    color: black;
    grid-area: user;
               
}
.footer{
    text-align: center;
    grid-area: footer;
    font-family: cursive;
    font-size: 2em
   }

   .quit{
    text-align: center;
    grid-area: quit;
    font-family: cursive;
    font-size: 2em
   }

/*boutons creer, connexion,archives,deconnexion...*/ 
.bouton{
    font-family: cursive;
    font-size:0.8em;
    color:black;
    background-color:rgb(16, 235, 27);
    width: 200px;
    height: 60px;
    align-self: center;     
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
}
/*message reçu en privé*/
.privé{
    color : orange;
}
/*message envoyer en public*/
.pseudopublic{
    text-align: right;
    color : blue;
}
/*message envoyé en privé*/
.pseudoprive{
    text-align: right;
    color : green;
}
fieldset{
    font-size: 0.8em;
    background-color: rgba(225, 236, 226, 0.5)
}
.utilisateurs{
    font-family: cursive;
    font-size:1em;
    color:black;
    background-color:rgba(218, 10, 27, 0.938);
    width: 50px;
    height: 30px;
    text-align: center;     
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
}